<% layout('layouts/boilerplate') %>


<div class="wrapper">
    <br>
    <canvas id="myChart"></canvas>
    <br>
    test
</div>




<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment@0.1.1"></script>

<script src="js/bikevsrun.js"></script>