<% layout('layouts/boilerplate') %>

<!--<div class="container px-5 py-5"> -->

<p></p>
<div class="container px-5 py-5 mb-5">

    <div class="row px-5 py-5 mb-5">
        <canvas id="mySecondChart"></canvas>
    </div>

    <div class="row px-5 py-5 mb-5">
        <canvas id="thirdChart"></canvas>
    </div>

    <div class="row px-5 py-5 mb-5">
        <canvas id="fourthChart"></canvas>
    </div>
</div>


<!--
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.0.1/chart.umd.js"></script>
-->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment@0.1.1"></script>


<script>var axiosURL = '<%axiosURL%>' </script>
<script src="js/demoscript.js"></script>